<div class="tab">
    <button class="tablinks active" (click)="showContent($event, 'Address')">Address Info</button>
    <button class="tablinks" (click)="showContent($event, 'SendMoney')">Send Money</button>
 </div>
 <br>
 <div *ngIf="selectedTab == 'Address'">
    <label>Enter Address: </label><input [(ngModel)]="address" placeholder="Bitcoin Test Address" size="60">
    <button (click)="getDetails()" class="blueButton">Submit</button>
    <div *ngIf="error" class="error"><br><b>{{error}}</b></div>
    <br>
    <div id="loader" class="loader" style="display: none;"></div>
    <div *ngIf="addressDetails.address">
      <h2>Overview</h2>
       <table>
          <tr>
             <td><b>
                Bitcoin Testnet Address</b>
             </td>
             <td>{{addressDetails.address}}</td>
          </tr>
          <tr>
             <td><b>
                Hash 160</b>
             </td>
             <td>{{addressDetails.hash160}}</td>
          </tr>
          <tr>
             <td><b>
                Balance</b>
             </td>
             <td>{{addressDetails.balance}} <b>tBTC</b></td>
          </tr>
          <tr>
             <td><b>
                Total reveived</b>
             </td>
             <td>{{addressDetails.received}} <b>tBTC</b></td>
          </tr>
          <tr>
             <td><b>
                Total sent</b>
             </td>
             <td>{{addressDetails.sent}} <b>tBTC</b></td>
          </tr>
          <tr>
             <td><b>
                Total Transactions</b>
             </td>
             <td>{{addressDetails.transactions}}</td>
          </tr>
          <tr>
             <td><b>
                UTXOS</b>
             </td>
             <td>{{addressDetails.utxos}}</td>
          </tr>
          <tr>
             <td><b>
                Unconfirmed Received</b>
             </td>
             <td>{{addressDetails.unconfirmed_received}} <b>tBTC</b></td>
          </tr>
          <tr>
             <td><b>
                Unconfirmed Sent</b>
             </td>
             <td>{{addressDetails.unconfirmed_sent}} <b>tBTC</b></td>
          </tr>
          <tr>
             <td><b>
                Total Unconfirmed Transactions</b>
             </td>
             <td>{{addressDetails.unconfirmed_transactions}}</td>
          </tr>
          <tr>
             <td><b>
                Unconfirmed UTXOS</b>
             </td>
             <td>{{addressDetails.unconfirmed_utxos}}</td>
          </tr>
          <tr>
             <td><b>
                Total Transaction in</b>
             </td>
             <td>{{addressDetails.total_transactions_in}}</td>
          </tr>
          <tr>
             <td><b>
                Total Transaction out</b>
             </td>
             <td>{{addressDetails.total_transactions_out}}</td>
          </tr>
          <tr>
             <td><b>
                First Seen</b>
             </td>
             <td>{{addressDetails.first_seen}}</td>
          </tr>
          <tr>
             <td><b>
                Last Seen</b>
             </td>
             <td>{{addressDetails.last_seen}}</td>
          </tr>
       </table>
      <h2>Top 10 Transactions (If any)</h2>
      <div *ngFor="let transaction of addressDetails.transactionsList">
        <table class="border">
              <tr>
                 <td><b>
                    Transaction Hash</b>
                 </td>
                 <td>{{transaction.hash}}</td>
              </tr>
              <tr>
                  <td><b>
                     Transaction Time</b>
                  </td>
                  <td>{{transaction.time}}</td>
              </tr>
              <tr>
                  <td><b>
                     No of Confirmations</b>
                  </td>
                  <td>{{transaction.confirmations}}</td>
              </tr>
              <tr>
                  <td><b>
                     Block Height</b>
                  </td>
                  <td>{{transaction.block_height}}</td>
              </tr>
              <tr>
                  <td><b>
                     Estimated Value</b>
                  </td>
                  <td>{{transaction.estimated_value}}</td>
               </tr>
               <tr>
                   <td><b>
                      Total Input value</b>
                   </td>
                   <td>{{transaction.total_input_value}} <b>tBtc</b></td>
               </tr>
               <tr>
                   <td><b>
                      Total Output Value</b>
                   </td>
                   <td>{{transaction.total_output_value}} <b>tBtc</b></td>
               </tr>
               <tr>
                   <td><b>
                      Total Fees</b>
                   </td>
                   <td>{{transaction.total_fee}} <b>tBtc</b></td>
               </tr>
               <tr>
                   <td><b>
                      Estimated Change</b>
                   </td>
                   <td>{{transaction.estimated_change}} <b>tBtc</b></td>
               </tr>
               <tr>
                   <td><b>
                      Estimated Change Address</b>
                   </td>
                   <td>{{transaction.estimated_change_address}}</td>
                  </tr>
      </table>
      <br>
      <br>
      </div>
    </div>
 </div>
 <div *ngIf="selectedTab == 'SendMoney'">
    <label>Enter Address: </label>
    <input [(ngModel)]="addressToSend" placeholder="Bitcoin Test Address to which money needs to be sent" size="60">
    <button (click)="sendCoins()" class="blueButton">Send 0.001 Testnet coins</button>
    <div *ngIf="moneyerror" class="error"><br><b>{{moneyerror}}</b></div>
    <br>
    <br>
    <div id="loader1" class="loader" style="display: none;"></div>
 </div>